body{
    background-image: url(../HTML/IMAGES/CR7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-attachment: scroll; */
}
pre{
    color: aliceblue;
}