/* div{
    height: 500px;
    width: 700px;
    border: 5px solid red;
    background-color: yellow;
    background-image: url(../HTML/IMAGES/dog-7671355__340.webp),url(../HTML/IMAGES/CR7),url(../HTML/IMAGES/home1.svg),url(../HTML/IMAGES/pexels-lumn-406014.jpg),url(../HTML/IMAGES/Spotifylogo.svg),url(../HTML/IMAGES/wp5231533-4k-gaming-wallpapers.jpg),url(../HTML/IMAGES/pluslogo.svg),url(../HTML/IMAGES/leftlogo.png),url(../HTML/IMAGES/home1.svg);
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 150px 150px,150px 150px,150px 150px,150px 150px,150px 150px,150px 150px,150px 150px,150px 150px,150px 150px;
    background-position: top left,top center,top right,center left,center,center right,bottom left,bottom center,bottom right;
} */

pre{
    height: 400px;
    width: 400px;
    border: 10px dotted yellow;
    color: aliceblue;
    background-image: url(/HTML/IMAGES/dog-7671355__340.webp);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: padding-box; --->images */
    /* background-clip: border-box; ---->background clip */
}