h1{
    /* padding: 200px 470px; */
    padding-top: 200px;
    padding-left: 470px;
    padding-bottom: 200px;
    padding-right: 200px;
    border: 50px double aqua;
    border-radius: 100px;
    border-top-color: black;
    border-left-color: violet;
    border-bottom-color: purple;
    border-right-color:aqua;
    background-color: cadetblue ;
    margin: 50px;
    border-width: 20px;
}