/* Descendent Selector */
h1 div{
    background-color: aqua;
    color: crimson;
}

/* preference */
#dd{
    color: aqua;
}
.cc{
    color: blueviolet;
}

/* CHild Selector */
div>p{
    background-color: violet;
    color: black;
}

/* <!-- Adjacent Sibling Selector --> */
header+pre{
    background-color: black;
    color:steelblue;
}


/* <!-- General Sibling Selector --> */
section~p{
    background-color: royalblue;
    color:darkgoldenrod;
}