.grid-container{
    height: 600px;
    width: 1250px;
    background-color: black;
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    
     /* grid-template-columns: 0.5fr  0.5fr;  */
    /* 0.5fr-->half the width of the original width(fr-frame)  */
    /* 2fr-->doube the width of original width */
    /* 1fr-->by default */
    /* grid-template-columns: repeat(4,300px); */
    /* 4 Columns have equal width */

    grid-template-rows: 250px 200px; 
    /* first row 250px,Second row 200px */
    /* row-gap: 15px;
    column-gap: 15px; */
    grid-gap: 15px;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 100px;
    grid-template-areas: "header header";
}
.grid-item1{
    background-color: rgb(255, 60, 0);
    grid-area: header;
}
.grid-item2{
    background-color: rgb(38, 0, 255); 
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item3{
    background-color: rgb(9, 255, 0);
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item4{
    background-color: rgb(255, 0, 13);
    grid-column-start: 1;
    grid-column-end: 2;
}