h2{
    color: aquamarine;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
p{
    color: violet;
    background-color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
marquee{
    color: chartreuse;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}