p::first-letter{
    color: aqua;
    font-size: 50px;
}
p::first-line{
    color: brown;
    font-size: 30px;
}
p::selection{
    color: aqua;
    background-color: black;
}
p::before{
    content: "NEWS==>";
    color: tomato;
    font-size: xx-large;
}
p::after{
    content: "<==THE END";
    color: springgreen;
    font-size: x-large;
}
li::marker{
    color: blueviolet;
    font-size: larger;
}